
html{
	background: #FFF;
	background-repeat : no-repeat;
}

#video-container
{
	position:absolute;
	background-color:#000;
	
	top:60px;
	bottom:60px;
	left:80px;
	right:80px;
	
	text-align: center;

    border:1px solid #000;

	-webkit-box-shadow: 0 2px 10px #000;
	-moz-box-shadow: 0 2px 10px #000;
	box-shadow: 0 2px 10px #000;	

}
#video-title{
	width:100%;
	height:5%;
	color:#ffffff;
	
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	
}


.splash{
	color:#DDD;
	text-align: center;

	font-size: 120px;
	font-family: Juice;

}

div.splash p{
	margin-bottom: 0px;
}

.sub-splash{
	color:#DDD;
	text-align:  center;
	font-size: 30px;
	font-family: Juice;
	line-height: -20px;
}
div.sub-splash p{
	background-color: green;
	margin-top: -25px;
	padding-top: 4px;

}

#player{
	
	width:100%;
	height:100%;	
}

#list-button{

	position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0px;
    height: 0 auto;
    width: 20px;
    
    text-align: center;

    padding-top:30px;
    padding-bottom:30px;

    font-size: 15px;
    font-weight: bold;  
	overflow: hidden;
    color:#BBB;
    border:1px solid #222;
    z-index:5;	

    /* gradient in gradients.css*/

}

#list-button:hover{
	color:#DDD;
    /* gradient in gradients.css*/
}
#list-button span{
    vertical-align: middle;    
}

#list-container
{
	position: absolute;
    top: 10%;
    bottom:10%;
    width: 10px;

    border:1px solid #555;
   
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    /* gradient in gradients.css*/
}

.file-list{
	position:absolute;
    top:0;
    bottom:0;
    height: 0px auto;
    width:380px;

	overflow: auto;
	
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	
	background-color: #ABC;
}

.listing{
	color:#000;

	font-size: 14px;
	font-family: monospace;

	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 5px 1px 5px; 
}

.listing:hover{
	background-color:#FFF;
	color:#000;
	cursor: pointer; cursor: hand	 
}
