<!doctype html>
<html class='gradient-background'>
	<head>
		<title>SEEDuck Player</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/player.css') }}">		
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/effects.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/misc.css') }}">		
		<script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>		
		<script src="{{ url_for('static', filename='scripts/player.js') }}"></script>	
		
	</head>
	<body >
	<a href="../library"><img id='back-button' src="{{ url_for('static', filename='images/arrow-left.png')}}"></a>
	<div id='video-title'></div>
	<div id="video-container">
		<div class='splash-holder'>
			<div class='splash depth'> <p>SEEDuck</p> </div>
			<div class='sub-splash'> <p>watch the waterfowl</p> </div>
		</div>
		<video  id="player" source src="" type="video/mp4" />
	</div>
		
	<div id='file-drawer-button' class='drawer-button vertical-button'></div>
	<div class="drawer" id='file-drawer'>
		<div class='drawer-area'>
		{% for n, p, a, v in fileData %}
			<!--<div class='listing' data-path='{{p}}' data-vc='{{v}}' data-ac='{{a}}'> {{n}} </div>-->
			<div class='listing {{a}}' data-path='{{p}}'>{{n}} </div>
		{% endfor %}
		</div>
	</div>
<!--
	<div id='upload-drawer-button' class='drawer-button vertical-button'></div>
	<div class="drawer" id='upload-drawer'>
		<div class='drawer-area'></div>
	</div>

	<div id='settings-drawer-button' class='drawer-button vertical-button'></div>
	<div class="drawer" id='settings-drawer'>
		<div class='drawer-area'></div>
	</div> -->

	<img src="{{ url_for('static', filename='images/loading2.gif') }}" class='pre-cache'/>
	<div id='selected_video' data-name='{{videoPath}}'></div>
	<div id='root-url' data-url="{{url_for('static', filename='downloads/')}}"></div>

	</body>
	
</html>	

<!-- STYLED CHECK BOXES BELOW -->
<!-- <div class='file-info'>
			<div class='styled-checkbox'>
				
				<div class="chk_play_video">
					<input type="checkbox" value="None" id="chk_play_video" name="check" checked="checked"/>
					<label for="chk_play_video"></label>
				</div>
				<div class='styled-checkbox-label'>Start playback on click</div>


				<div class="chk_show_mkv">
					<input type="checkbox" value="None" id="chk_show_mkv" name="check" checked="checked"/>
					<label for="chk_show_mkv"></label>
				</div>
				<div class='styled-checkbox-label'>Show MKV files</div>


				<div class="chk_show_ac3">
					<input type="checkbox" value="None" id="chk_show_ac3" name="check" />
					<label for="chk_show_ac3"></label>
				</div>
				<div class='styled-checkbox-label'>Show files with AC3 audio</div>
			</div>
			<hr>
			<div class='horizontal-button' id='transcode'>Transcode File</div>
		</div> -->