<!doctype html>
<html id='stream-background'>
	<head>
		<title>SEEDuck Player</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='streamer.css') }}">		
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='effects.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='misc.css') }}">		
		<script src="{{ url_for('static', filename='jquery.js') }}"></script>		
		<script src="{{ url_for('static', filename='streamer.js') }}"></script>	
	</head>
	<body >
	<div id='root-url' data-url="{{url_for('static', filename='downloads/')}}"></div>
	<div id='video-title'></div>	
	
	<div id="video-container">
		<div class='splash'> <p>SEEDuck</p> </div>
		
		<div class='sub-splash'> <p>embrace the waterfowl swarm</p> </div>

		<video  id="player"> <source src="" type="video/mp4" />Your browser does not support the video tag. </video>
	</div>
		
	<div id='list-button'></div>

	<div id="list-container" class='vertical-button'>
		<div class='file-list'>
		{% for n, p in fileData %}
			<div class='listing' data-path='{{p}}'> {{n}} </div>
		{% endfor %}
		</div>
	</div>
	<img src="{{ url_for('static', filename='pre-loading.gif') }}" class='pre-cache'/>

	</body>
	
</html>	